HELP.md
target/
server-*.log
*.class
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Segredos, certificados e ambiente local
**/application-secrets.properties
!**/application-secrets.properties.example
.env
.env.*
!.env.example
*.pfx
*.p12
*.pem
*.key
*.jks
secrets/
config/application-secrets.properties

src/main/resources/certificados/
deploy/config/application-secrets.properties


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/resources/certificados/
