# Copie para C:\api\bbdeveloper\config\application-secrets.properties no servidor

bb.producao.client-id=
bb.producao.client-secret=
bb.producao.developer-key=
bb.producao.ssl-cert-path=C:/api/bbdeveloper/certificados/bb-certificado-producao.pfx
bb.producao.ssl-cert-password=
bb.producao.pix-key=
